#
# SPDX-FileCopyrightText: 2026 Y. Meyer-Norwood <norwd@noreply.codeberg.org>
# SPDX-License-Identifier: LicenseRef-Hippocratic-3.0-CL-ECO-LAW-MIL-SV
#

Damjan Pavlica <mudroljub@gmail.com> <damjan.pavlica@origo.is>
Damjan Pavlica <mudroljub@gmail.com> <dp@playerhunter.com>
Damjan Pavlica <mudroljub@gmail.com>
Nuno Rafael Rocha <nunorafaelrocha@users.noreply.github.com>
Y. Meyer-Norwood <norwd@noreply.codeberg.org> <106889957+norwd@users.noreply.github.com>
Y. Meyer-Norwood <norwd@noreply.codeberg.org>
